html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.content {
    position: relative;
    top: 50px;
    width: 100%;
    height: calc(100% - 50px);
}

.map {
    height: 100%;
}

.bus-info h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px;
}

.bus-info label:after {
    content: ':'
}

.bus-info label {
    padding-right: 4px;
}

.bus-info .last {
    margin-top: 10px;
}

.bus-panel .semi-huge {
    font-size: 24px;
}

.bus-panel .huge {
    font-size: 32px;
}

.tab-content {
    padding-top: 8px;
}

.bus-panel {
    padding-left: 15px;
    padding-right: 15px;
}

.bus-panel .col-md-2,
.bus-panel .col-md-3,
.bus-panel .col-md-5 {
    padding-left: 2px;
    padding-right: 2px;
}

.tab-loading, .map .loading {
    padding-top: 25px;
}

.upper {
    text-transform: uppercase;
}
