{% extends "site/base.html" %}

{% block content %}
  <div class="home">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h3>BUSTRACKER</h3>
        <br>
        <p>Este é um trabalho acadêmico desenvolvido por <a href="http://alexandrevicenzi.com">Alexandre Vicenzi</a>.</p>
        <p>O código fonte está disponível no <a href="https://github.com/alexandrevicenzi/tcc">GitHub</a> sob licença MIT.</p>
        <br>
        <p>
          <iframe src="http://ghbtns.com/github-btn.html?user=alexandrevicenzi&amp;repo=tcc&amp;type=watch&amp;count=true"
                  allowtransparency="true" frameborder="0"
                  scrolling="0" width="110" height="20"></iframe>

          <iframe src="http://ghbtns.com/github-btn.html?user=alexandrevicenzi&amp;repo=tcc&amp;type=fork&amp;count=true"
                  allowtransparency="true" frameborder="0"
                  scrolling="0" width="95" height="20"></iframe>

          <iframe src="http://ghbtns.com/github-btn.html?user=alexandrevicenzi&amp;type=follow&amp;count=true"
                  allowtransparency="true" frameborder="0"
                  scrolling="0" width="175" height="20"></iframe>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
