{% extends "site/base.html" %}

{% load static %}
{% load settings_extras %}

{% block content %}
  <div class="station-details">
    <div class="container-fluid">
      <div class="row">
        <div class="form-horizontal">
          <div class="form-group">
            <label class="col-md-2 col-md-offset-2 control-label">Escolha seu terminal</label>
            <div class="col-md-4">
              <select class="form-control" id="stop-list">
                <option value="0">Selecione</option>
                {% for t in station_list %}
                <option value="{{ t.id }}" {% if t.id == station.id %}selected="selected"{% endif %}>{{ t.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
      </div>
      <br>
      {% if bus_list %}
        <div class="row">
          <!-- Less than 15 minutes to arive. -->
          <div class="col-md-3">
            {% for b in bus_list %}
              {% include "site/partial/bus_card.html" with bus=b color="panel-success" %}
            {% endfor %}
          </div>
          <!-- More than 15 minutes to arive. -->
          <div class="col-md-3">
            {% for b in bus_list_15 %}
              {% include "site/partial/bus_card.html" with bus=b color="panel-info" %}
            {% endfor %}
          </div>
          <!-- More than 30 minutes to arive. -->
          <div class="col-md-3">
            {% for b in bus_list_30 %}
              {% include "site/partial/bus_card.html" with bus=b color="panel-warning" %}
            {% endfor %}
          </div>
          <!-- More than 45 minutes to arive. -->
          <div class="col-md-3">
            {% for b in bus_list_45 %}
              {% include "site/partial/bus_card.html" with bus=b color="panel-danger" %}
            {% endfor %}
          </div>
        </div>
      {% elif station %}
        <div class="row">
          <div class="col-md-12 text-center"><p>Nenhum ônibus encontrado.</p></div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block additional_js %}
  <script type="text/javascript">
    var canReaload = true;

    /*
      Avoid realoding page many times per second.
      This will force page to be reload in an
      interval of at least 30s.
    */
    function reload_page() {
      if (canReaload) {
        console.log('Position updated!');
        canReaload = false;
        location.reload();
        setTimeout(function () {
          canReaload = true;
        }, 30 * 1000);
      }
    }

    function chooseStation(position) {
      console.log('Auto discovery...');

        var lat = position.coords.latitude,
            lon = position.coords.longitude;

        // Try to show the nearest stop station.
        $.get('{% url "api_nearest_bus_stop" %}?lat=' + lat + '&lon=' + lon, function (data) {
          location.search = 'id=' + data.id;
        });
    }

    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(chooseStation);
      }
    }

    $(document).ready(function () {
      {% if not request.GET.id %}
        getLocation();
      {% endif %}

      $('#stop-list').change(function () {
        var id = $(this).val();
        if (id != '0') {
          location.search = 'id=' + id;
        } else {
          location.search = '';
        }
      });

      if (window.EventSource) {
        var eventSourcePos = new EventSource('{% url "bus_position_stream" %}');
        var eventSourceNear = new EventSource('{% url "bus_near_stream" %}');

        eventSourcePos.addEventListener('position', function(e) {
          var info = e.data.split(',');
          var device_id = info[0];

          if ($('[data-device="'+ device_id +'"]')) {
            reload_page();
          }
        });

        eventSourceNear.addEventListener('near', function(e) {
          reload_page();
        });
      } else {
        console.warn('SSE not supported!');
      }
    });
  </script>
{% endblock %}