{% extends "site/base.html" %}

{% load static %}
{% load settings_extras %}
{% load extra %}

{% block content %}
  <div class="bus-details">
    <div class="container-fluid">
      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-md-2 col-md-offset-2 control-label">Escolha seu ônibus</label>
          <div class="col-md-4">
            <select class="form-control" id="bus-list">
              <option value="0">Selecione</option>
              {% for b in bus_list %}
              <option value="{{ b.id }}" {% if b.id == bus.id %}selected="selected"{% endif %}>{{ b.route.code }} - {{ b.route.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
    {% if bus %}
      <div class="row">
        <div class="col-md-12 text-center">
          <i class="fa fa-bus huge"></i>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-center">
          <h4 class="upper">{{ bus.route.code }} - {{ bus.route.name }}</h4>
        </div>
      </div>

      <div class="row">
        {% with is_moving=bus.is_moving is_online=bus.is_online is_parked=bus.is_parked %}
        <div class="col-md-4 col-md-offset-4">
          {% if is_online and is_moving %}
            <div class="alert alert-success text-center" role="alert">
              <strong>Tudo certo</strong>
              <br>
              Seu ônibus chegará dentro de alguns instantes.
            </div>
          {% elif not is_parked and not is_moving %}
            <div class="alert alert-danger text-center" role="alert">
              <strong>Ônibus parado</strong>
              <br>
              Ocorreu algum problema com o ônibus.
            </div>
          {% elif not is_online %}
            <div class="alert alert-warning text-center" role="alert">
              <strong>Ônibus sem conexão</strong>
              <br>
              Não foi possível se conectar ao ônibus nos útimos 5 minutos.
              <br>
              As informações podem estar desatualizadas.
            </div>
          {% elif not is_parked %}
            <div class="alert alert-info text-center" role="alert">
              <strong>Ônibus no terminal</strong>
            </div>
          {% endif %}
        </div>
        {% endwith %}
      </div>

      <div class="row">
        <div class="col-md-12 text-center">
          <span class="bold">Local atual</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          {% with loc_info=bus.current_location_info %}
          <small>{{ loc_info.street_name }} - {{ loc_info.district }}</small>
          {% endwith %}
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-md-12 text-center">
          <span class="bold">Próxima parada</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <small>{{ bus.next_stop.name|default:"-" }}</small>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-md-3 text-center">
          <span class="upper bold"><i class="fa fa-map-marker"></i> {{ bus.route.from_stop.name }}</span>
        </div>
        <div class="col-md-6">
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar"
                 aria-valuenow="{{ bus.percent_complete_of_route|ceil }}" aria-valuemin="0" aria-valuemax="100"
                 style="width: {{ bus.percent_complete_of_route|ceil }}%">
              <i class="fa fa-arrow-right"></i>
            </div>
          </div>
        </div>
        <div class="col-md-3 text-center">
          <span class="upper bold"><i class="fa fa-map-marker"></i> {{ bus.route.to_stop.name }}</span>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-md-12">
          {% with estimated_arrival=bus.estimated_arrival %}
          <div class="col-md-2 col-md-offset-3 text-center">
            <div class="row">
              <span class="bold s16">Tempo estimado</span>
            </div>
            <div class="row">
              <span class="semi-huge">{{ estimated_arrival.minutes|floatformat:"0"|default:"?" }}</span> <small>minutos</small>
            </div>
          </div>
          <div class="col-md-2 text-center">
            <div class="row">
              <span class="bold s16">Distância</span>
            </div>
            <div class="row">
              <span class="semi-huge">{{ estimated_arrival.km|floatformat:"1"|default:"?" }}</span> <small>Km</small>
            </div>
          </div>
          <div class="col-md-2 text-center">
            <div class="row">
              <span class="bold s16">Velocidade média</span>
            </div>
            <div class="row">
              <span class="semi-huge">{{ bus.avg_velocity|floatformat:"0" }}</span> <small>Km/H</small>
            </div>
          </div>
          {% endwith %}
        </div>
      </div>
    {% endif %}
    </div>
  </div>
{% endblock %}

{% block additional_js %}
  <script type="text/javascript">

    var canReaload = true;

    /*
      Avoid realoding page many times per second.
      This will force page to be reload in an
      interval of at least 30s.
    */
    function reload_page() {
      if (canReaload) {
        console.log('Position updated!');
        canReaload = false;
        location.reload();
        setTimeout(function () {
          canReaload = true;
        }, 30 * 1000);
      }
    }

    $(document).ready(function () {
      $('#bus-list').change(function () {
        var id = $(this).val();
        if (id != '0') {
          location.search = 'id=' + id;
        } else {
          location.search = '';
        }
      });

{% if bus %}

      if (window.EventSource) {
        var eventSourcePos = new EventSource('{% url "bus_position_stream" %}');
        var eventSourceNear = new EventSource('{% url "bus_near_stream" %}');

        eventSourcePos.addEventListener('position', function(e) {
          var info = e.data.split(',');
          var device_id = info[0];

          if (device_id == '{{ bus.device_id }}') {
            reload_page();
          }
        });

        eventSourceNear.addEventListener('near', function(e) {
          reload_page();
        });
      } else {
        console.warn('SSE not supported!');
      }

{% endif %}

    });
  </script>
{% endblock %}
