{% extends "site/base.html" %}

{% block content %}
  <div class="home">
    <div class="row">
      <div class="col-md-3 col-md-offset-1">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Terminais</h3>
          </div>
          <div class="panel-body">
            <p>Veja em tempo real o tempo estimado de cada ônibus até o seu terminal.</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">Mapa</h3>
          </div>
          <div class="panel-body">
            <p>Veja em tempo real onde o ônibus está.</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Linha</h3>
          </div>
          <div class="panel-body">
            <p>Consulta informações da sua linha em tempo real.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
