{% extends "site/base.html" %}

{% load static %}
{% load settings_extras %}

{% block content %}
  <div>
    <ul id="nav-terminal" class="nav nav-tabs nav-justified">
      {% for t in terminal_list %}
      <li role="presentation"><a href="#"><i class="glyphicon glyphicon-map-marker"></i> <strong>{{ t.name }}</strong></a></li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}

{% block additional_js %}
  <script type="text/javascript">
    $('#nav-terminal li').click(function () {
      $('#nav-terminal li').removeClass('active');
      $(this).addClass('active');
    });
  </script>
{% endblock %}