{% extends "site/base.html" %}

{% load static %}

{% block content %}
  <div id="map" class="map"></div>
{% endblock %}

{% block additional_js %}
  <script type="text/javascript" src="{% static 'js/google-maps-bus.js' %}"></script>
  <script type="text/javascript">
    function initMap() {
      map.init("{% static 'img/bus.png' %}", -26.9115028, -49.081016);
      map.addBus('123456', '11 - Atero/Fonte', -26.9115028, -49.081016);
      map.addBus('234567', '32 - Caçadores', -26.9132262, -49.080765);
    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&signed_in=true&callback=initMap"></script>
{% endblock %}